*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.bg1{
    height: 25vh;
    width: 100%;
    position: relative;
}
nav{
    height: 10vh;
    width: 100%;
    position: absolute; 
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    padding: 1.5rem 3rem 0 1.8rem;
}
nav ul li{
    list-style-type: none;
}

.fa1{
    font-size: 2.3rem;
    margin-top: 1.8rem;
    color: white;
    cursor: pointer;
}
.fa1:hover{
    cursor: pointer;
}
nav p{
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline solid rgb(200, 199, 199);
    transition: all 0.5s ease-in;
}
nav ul li:hover .mega{
    display: flex;
    justify-content: center;
    transition: all 1s ease-in-out;
} 
nav ul li:hover .opacity{
    display: flex;
    transition: all 1s ease-in-out;
    opacity: 0.71;
}
/* .opacity{
    position: absolute;
    top: 0.1%;
    right: 0.1%;
    transition-property: opacity;
    transition: all 1s ease-in-out;
    background-color: rgba(0, 0, 0);
    opacity: 1;
    height: 100vh;
    width: 100%;
    display: none;
} */
.mega{
    position: absolute;
    top: 1rem;
    right: 6.5%;
    z-index: 1;
    height: 90vh;
    width: 23rem;
    background: rgba(60, 63, 84, 1.0);
    background: radial-gradient(at center, rgb(54, 57, 77), rgba(28, 34, 38, 1.0));
    border-radius: 10px;
    transition: all 3s ease-in-out;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.submega{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    gap: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.menugrid:nth-child(1){
    height: 11vh;
    display: flex;
    gap: 1rem; 
    line-height: 6rem;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.749);
}
.menugrid:nth-child(2){
    height: 13vh;
    background-color: #2b2f3a;
    box-shadow: rgb(86, 97, 99) 3px 3px 20px 2px;
    border-radius: 10px;
    line-height: 4.5rem;
    font-size: 1.2rem;
}
.menugrid:nth-child(3){
    height: 13vh;
    background-color: #393c45;
    font-size: 1.2rem;
    line-height: 4.5rem;
    border-radius: 10px;
}
.menugrid:nth-child(3):hover{
    background-color: #32343b;
    cursor: pointer;
}
.menugrid:nth-child(4){
    height: 13vh;
    background-color: #393c45;
    font-size: 1.2rem;
    line-height: 4.5rem;
    border-radius: 10px;
}
.menugrid:nth-child(4):hover{
    background-color: #32343b;
    cursor: pointer;
}
.menugrid:nth-child(5){
    height: 10vh;
    text-align: start;
    line-height: 1.5rem;
    font-weight: 100;
    margin-top: -1rem;
    color: rgba(255, 255, 255, 0.731);
}
.menup{
    font-size: 0.75rem;
}
.menugrid:nth-child(6){
    height: 5vh;
    text-align: start;
    word-spacing: 1rem;
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
    margin-top: -2rem;
}



.bg2{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 1.9rem 0 1.7rem;
}

/* .container{
  height: 127vh;
  width: 100%;
  position: absolute;
  top: 7rem;
  overflow: hidden;
}
.elements .divv{
  position: absolute;
  width: 30px;
  height: 30px;
  border: 3px solid #20272bd8;
}
.elements .divv:nth-child(1){
  top: 90%;
  left: 3%;
  animation: animiee 9s linear infinite;
}
.elements .divv:nth-child(2){
  top: 80%;
  left: 15%;
  animation: animiee 10s linear infinite;
}
.elements .divv:nth-child(3){
  top: 60%;
  left: 27%;
  animation: animiee 7s linear infinite;
}
.elements .divv:nth-child(4){
  top: 35%;
  left: 43%;
  animation: animiee 5s linear infinite;
}
.elements .divv:nth-child(5){
  top: 80%;
  left: 47%;
  animation: animiee 10s linear infinite;
}
.elements .divv:nth-child(6){
  top: 50%;
  left: 57%;
  animation: animiee 7s linear infinite;
}
.elements .divv:nth-child(7){
  top: 70%;
  left: 67%;
  animation: animiee 6s linear infinite;
}
.elements .divv:nth-child(8){
  top: 80%;
  left: 87%;
  animation: animiee 10s linear infinite;
}
.elements .divv:nth-child(9){
  top: 20%;
  left: 25%;
  animation: animiee 7s linear infinite;
}
@keyframes animiee {
  0%{
      transform: scale(0) translateY(-90px) rotate(360deg);
      opacity: 0.9;
  }

  100%{
    transform: scale(1.3) translateY(-90px) rotate(-180deg);
      opacity: 1;
      border-radius: 45%;
      opacity: 0;
  }

} */

.intro{
    height: 90vh;
    width: 60%;
}
.intro .p1{
    font-size: 2.1rem;
    font-family:  'Dancing Script', sans-serif;;
    font-weight: 700;
    color: #20272b;
    padding: 1rem 0 0 0.5rem;

}
.intro .p2{
    line-height: 8rem;
    font-size: 7.3rem;
    font-family: 'Oswald', sans-serif;
    color: #20272b;
    font-weight: 900;
}

.intro .p3{
    font-size: 1.2rem;
    width: 87%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #20272b;
    margin-top: 1.5rem;
}

button {
    position: relative;
    top: 3rem;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 16rem;
    height: 3.8rem;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 1rem;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }


.mblob{
    height: 18rem;
    width: 18rem;
    position: relative;
    bottom: 6rem;
    left: 2rem;
}
.blob{
    height: 100%;
    width: 100%;
    position: absolute;
}
.blob:nth-child(2){
    filter: blur(1px);
}
.mpic{
    position: absolute;
    top: 2.4rem;
    left: 2.5rem;
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    border: 5px solid #20272b;
    background-image: url(../media/hamid1.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.socialmedia{
    height: auto;
    width: 8%;
    position: relative;
    bottom: 8rem;
    padding-left: 3rem;
 }
.Btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #0077b5;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  .Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn:hover .svgContainer {
    border: 1px solid rgba(216, 216, 216, 0.466);
    background-color: rgba(190, 190, 190, 0.466);
    backdrop-filter: blur(4px);
  }
  
  .Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #1877f2;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  .Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn:hover .svgContainer {
    border: 1px solid rgba(230, 230, 230, 0.466);
    background-color: rgba(204, 204, 204, 0.466);
    backdrop-filter: blur(4px);
  }
  

  .Btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.7rem;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  } 
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  .Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);
  }
  
  
.bg3{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg3 p{
    font-size: 3rem;
    font-family: 'Caveat';
    font-weight: 900;
    color: white;
    position: relative;
    -webkit-text-stroke: #20272b 2px;
}
.bg3 p::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgba(255, 0, 255, 0.356);
    -webkit-text-stroke: #20272b 0px;
    border-right: 2px solid rgb(255, 0, 255);
    overflow: hidden;
    animation: tag 10s linear infinite;
}
@keyframes tag {
    0%,10%,90%{
        width: 0;
    }
    50%,80%{
        width: 100%;
    }
}

.bg4{
    height: 12vh;
    width: 100%;
}
.bg5{
    height: 20vh;
    width: 100%;
    background-color: #20272b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7rem 0 6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.bg5 .p1{
    font-size: 3.5rem;
    font-weight: 700;
}
.bg5 a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    border:1px solid #fff;
    padding: 0.7rem;
    transition: all 0.3s ease-in-out;
}
.bg5 a:hover{
    cursor: pointer;
    background-color: rgb(58, 66, 71);
    transition: all 0.3s ease-in-out;
}
.bg6{
    height: 10vh;
    background-color: rgb(225, 225, 225);
}
.bg7{
    height: auto;
    width: 100%;
    background-color: rgb(225, 225, 225);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem 0 2rem;
    column-gap: 2rem;
    row-gap: 3.5rem;
}
.bg7 .grid:nth-child(1){
    height: 65vh;
    background-color: white;
    border-bottom: 5px solid rgba(128, 128, 128, 0.349);
    overflow: hidden;
}
.pic1{
    height: 55vh;
    width: 100%;
    background-image: url(../media/molie.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}
.pic1:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.bg7 .grid:nth-child(2){
    height: 65vh;
    background-color: white;
    border-bottom: 5px solid rgba(128, 128, 128, 0.349);
    overflow: hidden;
}
.pic2{
    height: 55vh;
    width: 100%;
    background-image: url(../media/aos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}
.pic2:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.bg7 .grid:nth-child(3){
    height: 65vh;
    background-color: white;
    border-bottom: 5px solid rgba(128, 128, 128, 0.349);
    overflow: hidden;
}
.pic3{
    height: 55vh;
    width: 100%;
    background-image: url(../media/green.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}
.pic3:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.bg7 .grid:nth-child(4){
    height: 65vh;
    background-color: white;
    border-bottom: 5px solid rgba(128, 128, 128, 0.349);
    overflow: hidden;
}
.pic4{
    height: 55vh;
    width: 100%;
    background-image: url(../media/parrot.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}
.pic4:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.bg8{
    width: 100%;
    height: 30vh;
    background-color: rgb(225, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: var(--clr);
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: #181818e8;
    text-overflow: ellipsis;
    transition: background-color .3s;
  }
  
  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .button:hover {
    background-color: #000;
  }
  
  .button:hover .button__icon-wrapper {
    color: #000;
  }
  
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }
  .bg99{
    background-color: rgb(225, 225, 225);
  }
  .bg9{
    background-color: #20272b;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial ;
    
  }
  .bg9a{
    height: 70vh;
    width: 37%;
    display: flex;
  }
  .bg9a .p1{
    font-size: 2.6rem;
    font-weight: 800; 
    color: rgba(255, 255, 255, 0.808);
    word-wrap: break-word;
    width: 20px;
  }
  .cntct{
    width: 100%;
    height: 100%;
  }
  .aby{
    font-size: 1.4rem;
  }
  .graph{
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.42);
    padding-left: 5rem;
  }
  .graph:hover{
    color: rgba(255, 255, 255, 0.84);
    cursor: pointer;
  }
  .bg9a .p2{
    line-height: 4rem;

  }
  .bg9a .p3{
    line-height: 3.7rem;

  }
  .bg9a .p4{
    line-height: 3.7rem;

  }
  .bg9a .p5{
    line-height: 3.7rem;

  }
  .bg9a .p6{
    line-height: 3.5rem;

  }
  .bg9a .p7{
    line-height: 3.7rem;

  }
  .bg9a .p8{
    line-height: 3.7rem;

  }
  .bg9b{
    height: 70vh;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }



.card {
    --font-color: #fefefe;
    --font-color-sub: #7e7e7e;
    --bg-color: none;
    --main-color: #fefefe;
    width: 300px;
    height: 380px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card-photo {
    transform: scale(0.3) translate(230px, 230px);
    width: 350px;
    height: 350px;
    margin-left: -125px;
    margin-top: -190px;
    background-image: url(../media/hamid2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30%;
  }
  
  .card-title {
    text-align: center;
    color: var(--font-color);
    font-size: 20px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .card-title span {
    font-size: 15px;
    color: var(--font-color-sub);
  }
  
  .card-socials {
    display: flex;
    height: 0;
    opacity: 0;
    gap: 20px;
    transition: 0.5s;
  }
  
  .card-socials-btn {
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .card-socials-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
  }
  
  .card:hover > .card-socials {
    opacity: 1;
    height: 35px;
  }
  
  .card-socials-btn:hover {
    transform: translateY(-5px);
    transition: all 0.15s;
  }
  
  .card-photo:hover {
    transition: 0.3s;
    transform: scale(0.4) translate(160px, 150px);
  }
  .bg10{
    background-color: #20272b;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Caveat";
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.34);
  }
  
  @media (max-width:1024px) {
    .bg1{
      height: 32vh;
  }
  nav ul{
    font-size: 0.9rem;
    padding: 1rem 3rem 0 1.8rem;
}
  .bg2{
    height: 110vh;
}
.intro{
  height: 90vh;
  position: relative;
  bottom: 5rem;
}
.intro .p1{
  font-size: 1.7rem;

}
.intro .p2{
  line-height: 7rem;
  font-size: 5.5rem;
}
.intro .p3{
  font-size: 0.95rem;
  width: 78%;
  margin-top: 1rem;
}
button.learn-more {
  width: 12rem;
  height: 2.8rem;
 }
 button.learn-more .circle {
  width: 2.7rem;
  height: 2.7rem;
 }
 button.learn-more .button-text {
  right: 0;
  line-height: 1.2;
  font-size: 1.1rem;
 }
 .mblob{
  height: 15rem;
  width: 15rem;
  bottom: 7rem;
  left: 0;
}
.mpic{
  top: 2rem;
  left: 2rem;
  height: 10.9rem;
  width: 10.9rem;
}
.socialmedia{
  bottom: 10.2rem;
}
.bg3{
  height: 30vh;
}
.bg3 p{
  font-size: 2.2rem;
  -webkit-text-stroke: #20272b 1.5px;
}
.bg5{
  height: 26vh;
}
.pic1{
  height: 58vh;
}
.pic2{
  height: 58vh;
}
.pic3{
  height: 58vh;
}
.pic4{
  height: 58vh;
}
.bg8{
  height: 40vh;
}
.button__icon-wrapper {
  width: 23px;
  height: 23px;
}
.bg9{
  height: 140vh;
}
.bg9a{
  height: 70vh;
  width: 45%;
  display: flex;
  position: relative;
  bottom: 3.6rem;
}
.aby{
  font-size: 1.3rem;
}
.graph{
  font-size: 0.9rem;
}

.bg10{
  height: 10vh;
}
  }

  @media (max-width:768px) {
    .bg1{
      height: 22vh;
  }
  nav ul{
    font-size: 0.9rem;
    padding: 0.4rem 3rem 0 1.8rem;
}
  .bg2{
    height: 130vh;
}

.intro .p1{
  font-size: 1.7rem;

}
.intro .p2{
  line-height: 7rem;
  font-size: 6.5rem;
}
.intro .p3{
  font-size: 0.95rem;
  width: 76%;
  margin-top: 1rem;
}
.mblob{
  height: 15rem;
  width: 15rem;
  bottom: 9rem;
  left: 0;
}
.mpic{
  top: 2rem;
  left: 2rem;
  height: 10.9rem;
  width: 10.9rem;
}
.socialmedia{
  height: 10vh;
  width: 22%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  top: 21rem;
  left: 32rem;
}
.bg3{
  height: 20vh;
}
.bg3 p{
  font-size: 2.2rem;
  -webkit-text-stroke: #20272b 1.5px;
}

.button__icon-wrapper {
  width: 25px;
  height: 25px;
}

.bg9{
  height: 140vh;
}
.aby{
  font-size: 1.2rem;
}
.graph{
  font-size: 0.8rem;
} 
.bg10{
  height: 35vh;
}
.bg9a{
  height: 70vh;
  width: 45%;
  display: flex;
  position: relative;
  bottom: 3.6rem;
}
.bg9a .p2{
  line-height: 3.5rem;

}
.bg9a .p3{
  line-height: 4rem;

}
.bg9a .p4{
  line-height: 3.6rem;

}
.bg9a .p5{
  line-height: 3.7rem;

}
.bg9a .p6{
  line-height: 3.5rem;

}
.bg9a .p7{
  line-height: 3.7rem;

}
.bg9a .p8{
  line-height: 3.8rem;

}
.bg10{
  height: 12vh;
}

  }

  @media (max-width:740px) {

    .socialmedia{
      height: 10vh;
      width: 22%;
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      top: 21rem;
      left: 29rem;
    }

    .graph{
      font-size: 0.78rem;
    } 
  }
  @media (max-width:694px) {
    .socialmedia{
      height: 10vh;
      width: 23%;
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      top: 21rem;
      left: 27rem;
      gap: 10px;
    }

    .graph{
      font-size: 0.65rem;
    } 

    .bg3{
      height: 40vh;
  }
  .bg4{
    height: 1vh;
  }
  }
  @media (max-width:450px) {
    
    .bg1{
      height: 25vh;
      background-color: #273036;
  }
  nav ul{
    font-size: 1rem;
    padding: 2rem 3rem 0 1.8rem;
}
.fa1{
  font-size: 1.7rem;
  margin-top: 0.9rem;
}

.bg2{
  height: 150vh;
  display: block;
  padding: 5rem 1.9rem 0 1.7rem;
}
.intro{
  height: 120vh;
  width: 90%;
  position: absolute;
  top: 27rem;
  left: 1rem;
}
.intro .p1{
  font-size: 1.4rem;
  padding: 1rem 0 0 0.5rem;

}
.intro .p2{
  line-height: 6rem;
  font-size: 6rem;
}

.intro .p3{
  font-size: 0.8rem;
  width: 98%;
  font-weight: 500;
  margin-top: 1.5rem;
}
.mblob{
  height: 14rem;
  width: 14rem;
  bottom: 4.3rem;
  left: 4rem;
}
.mpic{
  top: 2rem;
  left: 1.9rem;
  height: 10.5rem;
  width: 10.5rem;
}
.socialmedia{
  height: 10vh;
  width: 28%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 20rem;
  left: 9.6rem;
  padding-left: 0;
}
.bg3 p{
  font-size: 1.2rem;
  -webkit-text-stroke: #20272b 0.8px;
}
.bg4{
  height: 0;
}
.bg5{
  height: 20vh;
  padding: 0 6.5rem 0 5.5rem;
}
.bg5 .p1{
  font-size: 2rem;
}
.bg5 a{
  font-size: 0.5rem;
  padding: 0.4rem;
  width: 2 0px;
}
.bg7{
  grid-template-columns: 1fr;
  padding: 0 2rem 0 2rem;
  column-gap: 0;
  row-gap: 3.5rem;
}
.bg9{
  height: 180vh;
  width: 100%;
  display: block;
}
.bg9a{
  height: 70vh;
  width: 90%;
  position: absolute;
  top: 25rem;
  left: 8px;
}
.bg9a .p1{
  font-size: 2.6rem;
  font-weight: 800; 
  word-wrap: break-word;
  width: 20px;
}
.aby{
  font-size: 1.2rem;
}


.card {
  width: 250px;
  height: 280px;
  position: absolute;
  left: 5rem;
  top: 3rem;
}

.bg10{
  height: 10vh;
}

  }

  @media (max-width:380px) {
    
   
  .aby{
    font-size: 1rem;
  }
  
  .graph{
    font-size: 0.7rem;
  }

  }